.projects {
  background-color: #f2fbfa;
  padding-bottom: 6rem;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}

@media (max-width: 700px) {
  .projects {
    background-color: #f2fbfa;
    padding-bottom: 3rem;
  }

  .projects-container {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
  }
}
