article {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-weight: 400;
  position: relative;
}
.greeting {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aboutme-heading {
  font-size: 80px;
  text-transform: uppercase;
  padding-top: 10rem;
  text-align: center;
}

.about-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  width: 60%;
  position: relative;
}
