.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section-heading {
  font-size: 6rem;
  text-transform: uppercase;
  padding-top: 8rem;
  text-align: center;
  padding-bottom: 3rem;
}

@media (max-width: 700px) {
  .about-section-heading {
    font-size: 2.5rem;
    padding-top: 6rem;
    padding-bottom: 2.5rem;
  }
}
