.footer {
  border-top: 6px solid #81d8d0;
}

.grid-container--footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact-info {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  list-style-type: none;
}

.footer-icon {
  color: #81d8d0;
  width: 2rem;
  height: 2rem;
  transition: 0.5s;
}

.footer-icon:hover {
  opacity: 1;
  transform: scale(1.2);
  color: #d88189;
}
.year {
  font-size: 16px;
  color: #000;
}

#year {
  font-size: 16px;
  color: #000;
}
