.intro-img-container {
  position: relative;
}

.img {
  width: 250px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  /* .img {
    bottom: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 160px;
  } */
  .img {
    width: 150px;
  }
}
